.filter-bar {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}
.filter-button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}