#login-form-splash {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
#login-form-container {
  display: flex;
  width: 25vw;
  height: 25vw;
  margin-top: 20vh;
  background-color: white;
  border-radius: 40px;
}
#login-form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
#login-form-splash .header {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  font-size: 2em;
}
#login-form-splash .label{
  display: inline-block;
  margin-right: 40px;
}
#login-form-splash .close-btn{
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 20px;
}
#login-form-splash .emph{
  font-size: 1.5em;
}