div {
  margin: auto;
}
.itemCard {
  display: inline-block;
  margin: 10px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px rgb(167, 167, 167) ;
}
.itemCard .name {
  font-family: 'Atma', cursive;
  text-align: center;
  margin-top: 10px;
}
.itemCard .icon {
  width: 7vw;
  height: 7vw;
  background-color: blue;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
}
.itemCard .controls {
  display: flex;
  margin: 20px;
}
.itemCard .quantity {
  margin: 0px 10px;
}
.itemCard .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding-top: 10px;
  border-radius: 5px;
}
.itemCard .plus {
  background-color: rgb(106, 194, 106);
  padding: 10px;
  cursor: pointer;
}
.itemCard .minus {
  background-color: rgb(252, 121, 121);
  padding: 10px;
  cursor: pointer;
}
